## Adding Markdown Text

Notebooks use markdown, a markup language, for formatting text. IBM publishes a [Jupyter-specific markdown cheat sheet](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet).

To add a text cell:
1. Click **+ Markdown**
2. Add some text. When you are done editing, press `ctrl` + `enter` to run the cell and format your text.

## Adding Code

1. **Writing Code Cells:**
   - Use code cells to write your Python code. To create a new code cell, click on the `+ Code` button in the Jupyter toolbar.
   - Type or paste your Python code within the code cell.

2. **Running Code Cells:**
   - To execute a code cell, you can:
     - Click the `Run Cell` button (a triangle icon) in the Jupyter toolbar.
     - Use the keyboard shortcut `Shift + Enter`.
   - Output, if any, will be displayed below the cell after execution.

3. **Keyboard Shortcuts:**
   - Utilize keyboard shortcuts for faster execution:
     - `Shift + Enter`: Run the current cell and move to the next cell.
     - `Ctrl + Enter`: Run the current cell and stay on the same cell.
     - `Alt + Enter`: Run the current cell and insert a new cell below.

4. **Code Assistance and Auto-completion:**
   - The Jupyter extension in VS Code offers code assistance and auto-completion. Press `Tab` for suggestions while writing code.

5. **Saving and Renaming:**
   - Save your Jupyter notebook by clicking on `File` > `Save` or `File` > `Save As...`.
   - To rename the notebook, right-click on the notebook file in the file explorer on the left and select `Rename`.

6. **Managing Cells:**
   - Use the `+ Code` or `+ Markdown` buttons in the Jupyter toolbar to add new code or text cells, respectively.
   - You can rearrange the order of cells by clicking and dragging them in the Jupyter notebook.
   - Right-click on a cell in the Jupyter notebook to access options like deleting or moving the cell.

integers - whole numbers 
floats (floating point data type) - decimal numbers
strings - text
bool - True/False values

In [2]:
5 + 6

11

In [3]:
5 / 2 # division operator

2.5

In [4]:
10 // 3 # floor division operator

3

In [5]:
10 % 3  # modulo operator

1

In [7]:
10 % 2

0

In [6]:
10 ** 3 # exponentiation

1000

In [8]:
2 ** 3

8

In [9]:
2 * 2 * 2

8

In [10]:
50 > 25

True

In [11]:
-15 >= -14.99

False

In [14]:
20 == 20

True

In [15]:
20 != 20

False

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [16]:
(5 + 6) * 2 > 20

True

In [17]:
5 + 6

11

In [18]:
11 * 2

22

- Variable names in Python can include letters, digits, and underscore. 
- They cannot start with a digit.
- They are case sensitive.

In [53]:
degrees_celsius = 1000

In [54]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32
degrees_fahrenheit

1832.0

In [32]:
(9 / 5) * 50 + 32

122.0

In [24]:
degrees_celsius = degrees_celsius + 10
degrees_celsius

60

In [33]:
degrees_celsius = degrees_celsius + 3
degrees_celsius

53

In [36]:
a = 1

In [37]:
b = a

In [38]:
b

1

In [39]:
a = 2

In [40]:
a

2

In [41]:
b

1

In [42]:
kaylie = 1

In [43]:
print(id(kaylie))

4301664176

In [50]:
emma = kaylie

In [45]:
print(id(emma))

4301664176

In [46]:
kaylie = 2

In [47]:
print(id(kaylie))

4301664208

In [51]:
emma

2

In [ ]:
emma = 1

In [56]:
a = 1

In [62]:
b = a

In [59]:
print(id(a))
print(id(b))

4301664176
4301664176

In [68]:
monday = 14.1234
tuesday = 15.1234

In [69]:
print(id(monday))
print(id(tuesday))

4353740592
4353751536

In [70]:
degrees_celsius = degrees_celsius + 10

In [71]:
degrees_celsius += 10 # augmented assignment, more concise

In [72]:
12 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3541004665.py, line 1)

In [73]:
25 -

SyntaxError: invalid syntax (934255472.py, line 1)

In [74]:
lisa + 1

NameError: name 'lisa' is not defined

In [75]:
# this is a comment, it is not evaluated when we run our code

In [78]:
student1_grade = 90
student2_grade = 50
student3_grade = 74
average = (student1_grade + student2_grade + student3_grade) / 3 # calculate average
# average += 10

average

71.33333333333333

- White spaces: space on either side of operator, split code across multiple lines by wrapping in parentheses
- Comments: communicate the gist of a program, help explain more complicated sections, toggle lines of code on/off
- Clear and consistent variable names: descriptive and consistent

Version 1
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

Version 2 
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```

In [79]:
good_numbers = (1 + 40 + 
                50 + 1000)

- A function in programming is a named block of code that performs a specific task.
- It can accept zero or more input values and produce one or more return values.
- Functions help organize code, improve readability, and promote reusability

In [81]:
print(42)
print(600)

42
600

In [82]:
type(42)

int

In [83]:
type(42.0)

float

In [84]:
type(True)

bool

In [85]:
abs(-43)

43

In [88]:
round(2/3, 3)

0.667

In [87]:
2/3

0.6666666666666666

In [89]:
int(3.99)

3

In [90]:
float(7)

7.0

In [92]:
print(type(round(2*1.5)))

<class 'int'>

In [93]:
2 * 1.5

3.0

In [94]:
round(3.0)

3

In [95]:
type(3)

int

In [96]:
print(type(3))

<class 'int'>

In [97]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [102]:
def c_to_f(degrees_c):
    ''' Convert degrees from Celsius to Fahrenheit '''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [99]:
c_to_f(20)

68.0

In [100]:
c_to_f(30)

86.0

In [101]:
freezing_f = c_to_f(0)

In [105]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from Celsius to Fahrenheit

In [1]:
def maral_taller(height):
   taller = height + 10
   return taller

In [2]:
maral_taller(160)

170