## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [2]:
year = 1999

if year >= 2000:
    print("We are in the 21st century.")

In [5]:
year = 2024

if year >= 2000:
    print("We are in the 21st century.")
else:
    print("We are not in the 21st century.")

We are in the 21st century.

In [20]:
year = 1930

if year >= 2000:
    print("We are in the 21st century.")
elif year >= 1900:
    print("We are in the 20th century.")
elif year >= 1800:
    print("We are in the 19th century.")
elif year >= 1700:
    print("We are in the 18th century.")
else:
    print("We have gone wayyyyy back in time!")

We are in the 20th century.

In [12]:
day_of_week = 'Saturday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('Weekend')
else:
    print('Weekday')

Weekend

In [18]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments."
        else:
            return "It hasn't been 12 months since your last major eye exam."
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments."
            else:
                return "It hasn't been 12 months since your last major eye exam"
        else:
            return "You do not have an eligible medical condition affecting your eyes."
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments."
        else:
            return "It hasn't been 18 months since your last major eye exam."
    else:
        return "Invalid age input."

SyntaxError: invalid decimal literal (1710263558.py, line 1)

In [14]:
eye_exam_covered(19, False, 11)

"It hasn't been 12 months since your last major eye exam."

In [15]:
eye_exam_covered(27, True, 15)

'You are eligible for 1 major eye exam and 2 additional follow-up minor assessments.'

In [21]:
# lists

vowels = ['a', 'e', 'i', 'o', 'u']
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [26]:
empty_list = []
type(empty_list)

list

In [28]:
empty_list2 = list() # not convention
type(empty_list2)

list

In [29]:
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_functions = [len, sum, max, min]

In [37]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy Drew'
]

In [41]:
mystery_solvers[1][1]

'Shaggy'

In [31]:
# lists are ordered -> each item in a list can be referenced by its index, or position, in the list

grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [32]:
grades[0]

'K'

In [33]:
grades[6:9]

[6, 7, 8]

In [35]:
grades[-4:]

[9, 10, 11, 12]

In [36]:
grades[13]

IndexError: list index out of range

In [ ]:
# 'string'[] -> indexing
# grades[] -> indexing
# [1, 2, 3] -> creating a list

# function_name(arguments) -> calling function
# object.method_name(parameters) -> using method

In [42]:
vowels

['a', 'e', 'i', 'o', 'u']

In [43]:
'e' in vowels

True

In [44]:
# lists are mutable -> modified in place
# strings and numbers are immutable -> when we update these we replaec the value entirely

perfect_squares = [1, 4, 9, 16, 25, 37, 49]
perfect_squares[5] = 36
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [45]:
sidra = ['bread', 'cheese', 'bread']
kaylie = sidra

In [46]:
kaylie

['bread', 'cheese', 'bread']

In [47]:
sidra[1] = 'tomato'

In [48]:
sidra

['bread', 'tomato', 'bread']

In [49]:
kaylie

['bread', 'tomato', 'bread']

In [50]:
sidra = 'cheese sandwich'

In [51]:
kaylie = sidra

In [52]:
kaylie

'cheese sandwich'

In [53]:
sidra = 'tomato sandwich'

In [54]:
sidra

'tomato sandwich'

In [55]:
kaylie

'cheese sandwich'

In [56]:
a = 1

In [57]:
b = a

In [58]:
b

1

In [59]:
a = 2

In [60]:
a

2

In [61]:
b

1

In [62]:
a = [1, 2]

In [63]:
b = a

In [64]:
b

[1, 2]

In [65]:
a[0] = 1000

In [66]:
a

[1000, 2]

In [67]:
b

[1000, 2]

In [68]:
combo = ['burgers', 'fries', 'drink']
combo

['burgers', 'fries', 'drink']

In [70]:
kid_meal = list(combo)

In [71]:
combo[0] = 'chicken sandwich'

In [72]:
combo

['chicken sandwich', 'fries', 'drink']

In [73]:
kid_meal

['burgers', 'fries', 'drink']

In [74]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [75]:
len(perfect_squares)

7

In [76]:
max(perfect_squares)

49

In [77]:
sum(perfect_squares)

140

In [78]:
'ha' * 3

'hahaha'

In [79]:
'cat' + 'dog'

'catdog'

In [80]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

['a', 'b', 'c', 1, 2, 3]

In [83]:
letters * 4

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [84]:
numbers * 2

[1, 2, 3, 1, 2, 3]

In [85]:
letters

['a', 'b', 'c']

In [86]:
numbers

[1, 2, 3]

In [87]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [88]:
rainbow.append('purple')
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [89]:
rainbow.append(['purple'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple']]

In [90]:
rainbow.extend(['magenta', 'pink'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink']

In [91]:
rainbow.extend('pale pink')

In [97]:
rainbow[3]

'green'

In [93]:
new_rainbow = rainbow.append('dark purple')
print(new_rainbow)

None

In [94]:
rainbow.insert(6, 'indigo')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [95]:
rainbow.extend(2.3)

TypeError: 'float' object is not iterable

In [98]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [99]:
rainbow.remove('p')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo',
 'violet',
 'purple',
 ['purple'],
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [100]:
del rainbow[-13:]
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'indigo', 'violet']

In [102]:
rainbow.clear()
rainbow

[]

In [106]:
# method to sort which will return none but will modify the original list in place

fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(fruits.sort())
print(fruits)

None
['apple', 'banana', 'kiwi', 'pineapple']

In [107]:
# function return a new list with sorted values and will not modify the original

veggies= ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
print(sorted(veggies))
print(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']
['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [108]:
sorted('kaylie')

['a', 'e', 'i', 'k', 'l', 'y']

In [109]:
last_name = 'lau'
last_name.sort()

AttributeError: 'str' object has no attribute 'sort'

In [110]:
veggies

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [111]:
def last_letter(text):
    return text[-1]

In [117]:
last_letter('yayayaay')

'y'

In [112]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [113]:
sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [118]:
def second_letter(text):
    return text[1]


sorted(veggies, key=second_letter)

['cabbage', 'celery', 'bell pepper', 'onion', 'potato']

In [119]:
people = [
    ("Alice", 30),
    ("Bob", 25),
    ("Chalie", 30)
]

sorted(people, key= lambda person: (person[1], person[0]))

[('Bob', 25), ('Alice', 30), ('Chalie', 30)]

In [ ]:
# tuples

# like lists they are ordered collections of values
# tuples are immutable

In [120]:
mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [122]:
empty = () #empty tuple
empty

()

In [123]:
type(empty)

tuple

In [124]:
also_empty = tuple() # not convention
also_empty

()

In [125]:
type(also_empty)

tuple

In [126]:
empty.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [127]:
'text'.sorted()

AttributeError: 'str' object has no attribute 'sorted'

In [128]:
len(mutable_synonyms)

4

In [129]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [130]:
sorted(mutable_synonyms)

['changeable', 'fluctuating', 'inconstant', 'variable']

In [131]:
mutable_synonyms + ('modifiable', 'shifting')

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [132]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [ ]:
# sets
# like lists they are mutable, unlike lists and tuples, they are unordered and distinct
# unordered: elements do not maintain any specific order
# distinct: all elements are unique

In [133]:
things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [134]:
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']

In [135]:
visitor_post_codes

['M5R', 'M5V', 'M1M', 'M1M', 'M1T']

In [136]:
set(visitor_post_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [137]:
empty_set = set()
empty_set

set()

In [138]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [139]:
'lock' in things

True

In [140]:
things.add('lock')

In [141]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [142]:
things.add('mirror')

In [143]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [144]:
things.remove('apple')

In [145]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [146]:
things[1]

TypeError: 'set' object is not subscriptable

In [148]:
words = ['python', 'computer', 'dog']

sorted(words)

['computer', 'dog', 'python']