In [1]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [2]:
c_to_f(100)

212.0

In [3]:
def divide(dividend, divisor):
    answer = dividend / divisor
    return answer

In [20]:
divide(0, 2)

0.0

In [5]:
divide(2, 0)

ZeroDivisionError: division by zero

In [6]:
def calc_sales_tax(price, tax_rate=0.13):
    sales_tax = price * tax_rate
    return sales_tax

In [7]:
calc_sales_tax(5)

0.65

In [8]:
5 * 0.13

0.65

In [9]:
calc_sales_tax(5, 0.08)

0.4

In [10]:
5 * 0.08

0.4

In [11]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = price * tax_rate
    tip = price  * tip_rate
    total = price + tax + tip
    return total

In [12]:
calc_total_bill(100)

128.0

In [13]:
100 * 0.13 + 100 * 0.15 + 100

128.0

In [14]:
calc_total_bill(100, 0.08)

123.0

In [15]:
100 * 0.08 + 100 * 0.15 + 100

123.0

In [18]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [17]:
100 * 0.13 + 100 * 0.22 + 100

135.0

In [58]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [23]:
def c_to_f(degrees_c):
    '''Convert degrees from Celsius to Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [24]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from Celsius to Fahrenheit

In [25]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [26]:
degrees_c

NameError: name 'degrees_c' is not defined

In [27]:
boiling_c = 100

In [28]:
boiling_c

100

- scope refers to the context in which a variable can be accessed
- parameters are locally scoped variables, local indicates it can only be accessed within the function itself
- variable defined outside of a function has global scope, it can be accessed from anywhere in the program

In [31]:
type('This is a string')

str

In [33]:
type("This is also a string")

str

In [34]:
"these quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1479919974.py, line 1)

In [37]:
"Let's see if this works"

"Let's see if this works"

In [42]:
print('''
I am a multiline string

I'm very useful for documenting function!
''')

I am a multiline string

I'm very useful for documenting function!

### Escape sequences

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [40]:
print('This is a backslash: \\')

This is a backslash: \

In [53]:
print("This is a tab: \taugust")

This is a tab: 	august

In [45]:
print("Carriage return \r 123")

 123iage return

In [46]:
1 + 2

3

In [57]:
'hello' + ' ' + 'world'

'hello world'

In [56]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [48]:
'ha' * 3

'hahaha'

In [49]:
'The year is ' + 2020

TypeError: can only concatenate str (not "int") to str

In [50]:
'apple' == 'Apple'

False

In [51]:
'apple' != 'Apple'

True

In [52]:
'20' == 20

False

In [63]:
print("Today it is August! \rWOOOOOOOOOOOoooooooooooooooo")

WOOOOOOOOOOOoooooooooooooooo

In [70]:
first_name = 'Ada'
last_name = 'Lovelace'

print(first_name[2], last_name[3])

a e

In [65]:
last_name

'Lovelace'

In [66]:
last_name[3]

'e'

In [67]:
last_name[1:4]

'ove'

In [68]:
last_name[2:6]

'vela'

In [71]:
first_name

'Ada'

In [72]:
last_name

'Lovelace'

In [74]:
last_name[:6]

'Lovela'

In [75]:
last_name[4:]

'lace'

In [76]:
last_name[-3:]

'ace'

In [77]:
phone_number = '+1 555-123-4567'

In [78]:
phone_number[3:6]

'555'

In [81]:
phone_number[-8:]

'123-4567'

In [82]:
job_qualifications = 'The successful applicant will be proficient in R, Python, SQL, and statistics'

In [99]:
' , ' in job_qualifications

False

In [84]:
'JavaScript' in job_qualifications

False

In [87]:
print(1,'fish', 2, 'fish')

1 fish 2 fish

In [88]:
len('Sometimes we have verryyyyyy long sentences to meet word counts!!!')

66

In [100]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [102]:
'This string is unusual'.count('u')

3

In [104]:
'file_name.csv'.endswith('.ipynb')

False

In [105]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [106]:
first_name = 'Ada'
last_name = 'Lovelace'

'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [107]:
first_name[0]

'A'

In [109]:
last_name[0]

'L'

In [112]:
'My favourite vegetable is {}'.format('tomato')

'My favourite vegetable is tomato'

In [121]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}. {"yay!"}'

"Ada Lovelace's initials are A. L. yay!"

In [122]:
f'My favourite vegetable is {boiling_c}'

'My favourite vegetable is 100'

In [132]:
# string to integer

int('17')

17

In [125]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [126]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [127]:
# strings to floats

float('892')

892.0

In [128]:
float("you")

ValueError: could not convert string to float: 'you'

In [129]:
# float and int to string

str(37.5)

'37.5'

In [130]:
str(20)

'20'

In [131]:
'20' + str(37.5)

'2037.5'

In [153]:
age = input('How old are? ')

In [154]:
age

'100'

In [155]:
age_next_bday = float(age) + 1

In [148]:
age_next_bday

101.5

In [141]:
f'Next birthday you will be {age_next_bday}'

'Next birthday you will be 101'

In [ ]:
# not: negates the truth value of the statement
# and: check if the statements on both sides are true
# or: check if at least one of the statements are true

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [156]:
not True

False

In [157]:
not False

True

In [160]:
3 == 3

True

In [159]:
not (3 == 3)

False

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [161]:
7 == 7

True

In [162]:
32 > 9

True

In [163]:
(7 == 7) and (32 > 9)

True

In [164]:
7 == 8

False

In [165]:
(7 == 8) and (32 > 9)

False

In [166]:
7 == 7.0 and 32 > 9

True

In [167]:
"Python" == "python" and True

False

In [173]:
# `and`` operator will return the first falsy value encountered OR the last truthy value if all operands are true

type("True" and True)

bool

In [169]:
True and "True"

'True'

In [170]:
"Python" and "python"

'python'

In [171]:
"python" and "Python"

'Python'

In [172]:
"" and "Kaylie"

''

In [174]:
'a' == 'a' and 'b' == 'b'

True

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [175]:
'Python' == 'python' or True

True

In [176]:
7 < 300 or 5 < 10

True

In [189]:
800 == 450 or 'August' == 'June'

False

In [178]:
# `or` operator will return the first truthy value encountered or the last falsy value if all operands are False

In [179]:
"True" or True

'True'

In [180]:
True or "True"

True

In [182]:
False or ""

''

In [187]:
False and "pop"

False

In [199]:
False or True

True

In [200]:
"non-empty" or ""

'non-empty'

In [201]:
True or False

True

In [202]:
"" or "non-empty"

'non-empty'

In [203]:
False or True

True

## To avoid confusion and ensure consistent behaviour, it's recommended to use boolean values (`True` or `False`) explicitly when working with logical operations to ensure predictable outcomes based on boolean logic.

In [191]:
veggie = 'turnip'
fruit = 'candy'
if veggie == 'turnip' and fruit == 'berry':
    print("healthy")

In [197]:
z = 10

def sum(x, y):
    global z
    z += 1
    return x + y

sum(5, 10)

15